{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Word Grid Game</title>

    <link rel="stylesheet"
          href="{% static 'game/style.css' %}">
</head>

<body>

    <div class="container">

        <!-- HEADER -->
        <div class="top-bar">
            <h2>🎮 Word Grid</h2>

            <div class="user-actions">
                <span>👤 {{ request.user.username }}</span>
                <a href="/logout/">Logout</a>
            </div>
        </div>

        <!-- TURN -->
        <div class="turn-box">
            Current Turn:
            <span id="current-player" class="highlight">Player 1</span>
        </div>

        <!-- SCORE BOARD -->
        <div class="score-board">

            <div class="score-card">
                <h3>Player 1</h3>
                <span id="score1">0</span>
            </div>

            <div class="score-card">
                <h3>Player 2</h3>
                <span id="score2">0</span>
            </div>

        </div>

        <!-- GRID -->
        <div class="grid" id="grid"></div>

    </div>

    <!-- ROOM NAME -->
    <script>
        const roomName = "{{ room_name }}";
    </script>

    <script src="{% static 'game/script.js' %}"></script>

</body>

</html>